* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  overflow: hidden;
}

select {
  padding: 6px 64px;
  border-radius: 5px;
}

option {
  margin-top: 10px !important;
  margin-bottom: 10px;
}

/* Search box mobile */
@media (max-width: 420px) {
  .mapboxgl-ctrl-top-right .mapboxgl-ctrl {
    width: 80%;
    margin: 10px;
  }
}
