.tooltip {
  position: absolute;
  margin: 8px;
  padding: 4px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  max-width: 300px;
  font-size: 10px;
  z-index: 9;
  pointer-events: none;
}

.filter {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 50px;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
}
.filter-magnitude {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 85px;
  margin-right: 10px;
}

.searchControl {
  display: flex;
  justify-content: space-between;
  align-items: center;

  & .reset {
    cursor: pointer;
  }
}
